<#import "macros/base.ftlh" as base>

<@base.base_layout>
    <div class="card text-center">
        <div class="card-header">
            Статус задачи: ${task.status.getName()}
        </div>
        <div class="card-body">
            <h5 class="card-title">${task.name}</h5>
            <p class="card-text">Время создания: ${task.creationTime.format('yyyy-MM-dd HH:mm')}</p>
            <#if task.status == "OPEN">
                <p class="card-text">Время открытия: ${task.startTime.format('yyyy-MM-dd HH:mm')}</p>
            <#elseif task.status == "CLOSED">
                <p class="card-text">Время открытия: ${task.startTime.format('yyyy-MM-dd HH:mm')}</p>
                <p class="card-text">Время закрытия: ${task.endTime.format('yyyy-MM-dd HH:mm')}</p>
            </#if>
            <p class="card-text">${task.description}</p>
            <#if task.status == "NEW">
                <form action="/tasks" method="post">
                    <input type="hidden" name="id" value="${task.id}">
                    <button class="btn btn-primary" type="submit">Открыть</button>
                </form>
                <a class="btn btn-primary" href="/tasks/${task.id}/delete" role="button">Удалить</a>
            <#elseif task.status == "OPEN">
                <form action="/tasks" method="post">
                    <input type="hidden" name="id" value="${task.id}">
                    <button class="btn btn-primary" type="submit">Закрыть</button>
                </form>
            <#else>
                <a class="btn btn-primary" href="/tasks/${task.id}/delete" role="button">Удалить</a>
            </#if>
        </div>
        <div class="card-footer text-muted">
            Приоритет задачи: ${task.priority.getName()}
        </div>
    </div>
</@base.base_layout>